<div class="container position-relative px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="card">
                <div class="card-header">
                    <h1 class="mb-0">Edit <%= @tweet.tweet %></h1>
                </div>
                <div class="card-body">
                    <%= render "form" %>
                </div>
            </div>
        </div>
    </div>
</div>

